@page "/Mantenedores/UnidadMedida/IndexUnidadMedida";
@using Macaner.GeronAppWeb.Service.Interface;
@inject IUnidadMedidaService _unidadMedidaService
@inject IJSRuntime jsRuntime;


@using Macaner.GeronAppWeb.Client.Web.Models;
@using Macaner.GeronAppWeb.Shared.Common
@using Macaner.GeronAppWeb.Shared.DTO
<h3>Unidades de medida</h3>

<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-7">
                <h4 class="card-title text-dark">Lista de Unidades de Medidas</h4>
            </div>
            <div class="col-2 offset-2">
                <NavLink href="/Mantenedores/UnidadMedida/AddUnidadMedida" class="btn btn-primary"><i class="fas fa-plus" style="color: #ffffff;"></i>&nbsp;Nueva Unidad de Medida</NavLink>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="container">
            <div class="form-group row">
                <label for="@textoBusqueda" class="col-md-1 col-form-label">Busqueda: </label>
                <div class="col-md-4">
                    <input @bind="@textoBusqueda" class="form-control col-md-4" />
                </div>
                <div class="col-md-2">
                    <button class="btn btn-success" @onclick="@(()=>Buscar())"><i class="fas fa-search"></i>&nbsp;Buscar</button>
                </div>
            </div>

            <br />


            <div class="row">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (_listaUnidadesMedidas.Count() > 0)
                        {
                            foreach (var unidadMedida in _listaUnidadesMedidas)
                            {
                                <tr>
                                    <td>@unidadMedida.IdUnidadMedida</td>
                                    <td>@unidadMedida.Nombre</td>
                                    <td>@unidadMedida.Descripcion</td>
                                    <td>
                                        <NavLink href="@($"/Mantenedores/UnidadMedida/EditUnidadMedida/{unidadMedida.IdUnidadMedida}")" class="btn btn-warning"><i class="fas fa-edit"></i>&nbsp;Editar</NavLink>
                                        <button class="btn btn-danger" @onclick="()=>Borrar(unidadMedida.IdUnidadMedida)"><i class="fas fa-trash"></i>&nbsp;Borrar</button>
                                    </td>

                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="4" style="text-align:center">No hay registros</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>


    </div>

</div>
<AlertConfirm CambioConfirmacion="Click_ConfirmarBorrado" mensaje="@mensaje"></AlertConfirm>

@code {
    private List<UnidadMedidaDTO> _listaUnidadesMedidas = new List<UnidadMedidaDTO>();

    private string textoBusqueda{ get; set; }

    private bool estaProcesando { get; set; } = false;

    private int? BorrarIdUnidadMedida { get; set; } = null;

    private string mensaje { get; set; }

    protected override async Task OnInitializedAsync(){

        var resultado = await _unidadMedidaService.GetAllAsync();       

        if (resultado.IsSuccess){
            _listaUnidadesMedidas = resultado.Data;
        }
    }

    // protected override async Task OnAfterRenderAsync(bool firstRender)
    // {
    //     await jsRuntime.InvokeVoidAsync("MostrarPregunta");
    // }

    protected async Task Borrar(int idUnidadMedida){
        BorrarIdUnidadMedida = idUnidadMedida;
        mensaje = "¿Está seguro de borrar la unidad de medida?";
        await jsRuntime.InvokeVoidAsync("ShowAlertConfirm");
        // var fueBorrado = false;
        // var resultado = await _unidadMedidaService.EliminarUnidadMedidaAsync(idUnidadMedida);

        // if (resultado.IsSuccess)
        // {
        //     fueBorrado = resultado.Data;
        // }

        // if (fueBorrado){
        //     var response = await _unidadMedidaService.GetAllUnidadesMedidasAsync();
        //     _listaUnidadesMedidas = response.Data;
        // }else{
        //     //nones
        // }
    }

    protected async Task Buscar(){
        var resultado = await _unidadMedidaService.SearchAsync(textoBusqueda);

        if (resultado.IsSuccess)
        {
            _listaUnidadesMedidas = resultado.Data;
        }
    }

    protected async Task Click_ConfirmarBorrado(bool confirmado){

        estaProcesando = true;
        Response<bool> fueBorrado;
        if (confirmado){
            fueBorrado = await _unidadMedidaService.DeleteAsync(BorrarIdUnidadMedida.Value);
            if (fueBorrado.Data) { 
                var response = await _unidadMedidaService.GetAllAsync();
                _listaUnidadesMedidas = response.Data;
                await jsRuntime.InvokeVoidAsync("ShowSuccessAlert", "Eliminación de Unidad de Medida Satisfactoria");
                await jsRuntime.InvokeVoidAsync("HideAlertConfirm");
            }
            return;
        }

        await jsRuntime.InvokeVoidAsync("ShowErrorAlert", "Hubo un error con la eliminación de Unidad de Medida");
        await jsRuntime.InvokeVoidAsync("HideAlertConfirm");
        estaProcesando = false;
    }
}
