@page "/Ficha/Paciente/IndexPaciente";


<h3>Pacientes</h3>

<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-7">
                <h4 class="card-title text-dark">Lista de Unidades de Medidas</h4>
            </div>
            <div class="col-2 offset-2">
                <NavLink href="/Ficha/Paciente/AddPaciente" class="btn btn-primary"><i class="fas fa-plus" style="color: #ffffff;"></i>&nbsp;Nuevo Paciente</NavLink>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="container">
            <div class="form-group row">
                <label for="@textoBusqueda" class="col-md-1 col-form-label">Busqueda: </label>
                <div class="col-md-4">
                    <input @bind="@textoBusqueda" class="form-control col-md-4" />
                </div>
                <div class="col-md-2">
                    <button class="btn btn-success" @onclick="@(()=>Buscar())"><i class="fas fa-search"></i>&nbsp;Buscar</button>
                </div>
            </div>

            <br />


            <div class="row">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th @onclick="@(()=> OrdenarPor("Id"))" style="cursor:pointer">Id <i class="fa-solid @(columnaOrden == "Id" ? (ordenAscendente ? "fad fa-sort-up" : "fad fa-sort-down") : "fas fa-sort")"></i></th>
                            <th>RUT</th>
                            <th @onclick="@(()=> OrdenarPor("Nombre"))" style="cursor:pointer">Nombre <i class="fa-solid @(columnaOrden == "Nombre" ? (ordenAscendente ? "fad fa-sort-up" : "fad fa-sort-down") : "fas fa-sort")"></i></th>
                            <th @onclick="@(()=> OrdenarPor("ApellidoPaterno"))" style="cursor:pointer">Apellido Paterno <i class="fa-solid @(columnaOrden == "ApellidoPaterno" ? (ordenAscendente ? "fad fa-sort-up" : "fad fa-sort-down") : "fas fa-sort")"></i></th>
                            <th @onclick="@(()=> OrdenarPor("ApellidoMaterno"))" style="cursor:pointer">Apellido Materno <i class="fa-solid @(columnaOrden == "ApellidoMaterno" ? (ordenAscendente ? "fad fa-sort-up" : "fad fa-sort-down") : "fas fa-sort")"></i></th>
                            <th>Edad</th>
                            <th>Sexo</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (_listaPacientes.Count() > 0)
                        {
                            foreach (var paciente in _listaPacientes)
                            {
                                <tr>
                                    <td>@paciente.IdPaciente</td>
                                    <td>@paciente.RUT</td>
                                    <td>@paciente.Nombre</td>
                                    <td>@paciente.ApellidoPaterno</td>
                                    <td>@paciente.ApellidoMaterno</td>
                                    <th>@paciente.Edad</th>
                                    <th>@paciente.Sexo</th>
                                    <td>
                                        <NavLink href="@($"/Ficha/Paciente/ProfilePaciente/{paciente.IdPaciente}")" class="btn btn-success"><i class="fas fa-edit"></i>&nbsp;Ficha</NavLink>
                                        <NavLink href="@($"/Ficha/Paciente/EditPaciente/{paciente.IdPaciente}")" class="btn btn-warning"><i class="fas fa-edit"></i>&nbsp;Editar</NavLink>
                                        <button class="btn btn-danger" @onclick="()=>Borrar(paciente.IdPaciente)"><i class="fas fa-trash"></i>&nbsp;Borrar</button>
                                    </td>

                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="6" style="text-align:center">No hay registros</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>


    </div>

</div>

<AlertConfirm CambioConfirmacion="Click_ConfirmarBorrado" mensaje="@mensaje"></AlertConfirm>



